#Сщздаем файл .gitignore (Точка в начале обязательна)
#Этот файл указывает Git, какие файлы игнорировать

# Python Временный файл
__pycache__/
*.pyc
*.pyo
*.pyd

#Виртуальное окружение Python
venv/
end/
.env
.venv/

#Системные файлы
Thumbs.db # Только для Windows
